<form [formGroup]="editProjectForm" (ngSubmit)="onSubmit()">
    <div class="form-group mt-3">
        <label for="">Libelle</label>
        <input type="text" formControlName="Libelle" class="form-control" placeholder="Entrez le Libelle">
    </div>
    <div class="form-group mt-3">
        <label for="">Description</label>
        <input type="text" formControlName="Description" class="form-control" placeholder="Entrez la Description">
    </div>
    <div class="form-group mt-3">
        <label for="">SprintDays</label>
        <input type="number" formControlName="SprintDays" class="form-control" placeholder="Entrez le SprintDays">
    </div>
    <div class="form-group mt-3">
        <label>DateDebut</label>
        <input type="date" formControlName="DateDebut" class="form-control">
    </div>
    <div class="form-group mt-3">
        <label>DateFin</label>
        <input type="date" formControlName="DateFin" class="form-control">
    </div>

    <button type="submit" class="btn btn-primary mt-3">Edit</button>
</form>
<div *ngIf="updateSuccess" class="success-message">
    Project updated successfully!
  </div>

